<div class="main-container">
<!-- main divs starts here -->
 

    <!-- header  -->
       
  <header class="navbar">
    <div class="navbar-left">
        <a class="nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" routerLink="/features">Features</a>
        <a class="nav-link" routerLink="/pricing">Pricing</a>
    </div>
    <div class="navbar-right">
        <a href="https://www.facebook.com" class="fa fa-facebook"></a>
        <a href="https://www.twitter.com" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com" class="fa fa-instagram"></a>
        <nav>
            <ul>
                <li>
                    Hire Me
                    <span></span><span></span><span></span><span></span>
                </li>
            </ul>
        </nav>
    </div>
</header>
      


    <!-- header ends -->

  
    <div class="djmaliboy">DjMaliBoy</div>
  
    



<div class="profile-pic">

<img src="../../assets/images/gaura_profile.png" alt="profile pic">


</div>

<div class="bg-mid">
    <div class="mid">
        SENIOR 
        FREELANCE
         DESIGNER
</div>
</div>




<div class="quote">
  Over the last 3years, I've empowered 4+ companies

</div>
<div class="secquote">
  Creating stunning web Development that make a real impact

</div>




<div class="logo-text">
    Currently Working On ...


    <img src="../../assets/images/logo-text-logo.png" alt="profile pic">
</div>


<div class="project">

    PROJECTS
 
</div>


<div class="sub-text-bold">
    From Saas to Website & Mobile
</div>


<div class="sub-text-normal">
    I’ve had the opportunity to work across all kinds of product
</div>











<!-- main div ends here -->
    </div>




  