.main-container {

    background: #121120;

    height: 5981px;
    background-repeat: no-repeat;
    background-size: cover;

    /* Set up proportionate scaling */
    /* Set up positioning */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 20px 70px;
    background-color: transparent;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center; /* This will center align the items vertically */
}

.nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 0.1em;
}

.nav-link:hover {
    color: #f8a5c2;
}

.fa {
    font-size: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 15px;
    color: white;
    transition: color 0.3s ease;
}

.fa:hover {
    color: #f8a5c2;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    --c:  #f8a5c2;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 140px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;

}

nav ul li span {
    position: absolute;
    width: 60px;
    height: 70%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}


















.djmaliboy {


    padding-top: 100px;
    padding-right: 622px;
    padding-left: 622px;


    color: #F5F5F5;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 652px;
    padding-right: 661px;
    padding-top: 55px;
}

.profile-pic img {
    max-width: 154px;
    max-height: 154px;
}







.bg-mid{
    background-image: url('../../assets/images/senior-bg.png');

background-size: cover;




  
/* Set up proportionate scaling */
width: 100%;
height: 455px;
  
/* Set up positioning */
position: absolute;














}

.mid {
    padding-top: 70px;
    padding-left: 411px;
    padding-right: 412px;
background-image: none;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 13.37690258026123px 0px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 90px;
    font-style: normal;
    font-weight: 900;
    line-height: 100.5%;
    /* 96.48px */
    letter-spacing: 1.92px;

    opacity: 0.9;
    filter: blur(0.1);





}









.quote{

    padding-top: 360px;
    padding-left: 447px;
    padding-right: 447px;
    color: #F5F5F5;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.secquote{
    padding-top: 20px;
    padding-left: 501px;
    padding-right: 501px;

    color: rgba(255, 255, 255, 0.30);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;

line-height: normal;
}




.logo-text{

    padding-top: 600px;
    padding-right: 506px;
    padding-left: 454px;

color: #F5F5F5;
text-align: center;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.logo-text .img{
padding-top: 25.33px;
width: 1615.79px;
height: 422.53px;
flex-shrink: 0;
}

.project{

padding-top: 880px;
padding-left: 452px;
padding-right: 432px;
color: #FFF;
text-align: center;
text-shadow: 0px 0px 16.22991371154785px 0px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 58px;
font-style: normal;
font-weight: 900;
line-height: 100.5%; /* 58.29px */
letter-spacing: 1.16px; 


}



.sub-text-bold{

padding-top: 22px;
padding-left: 447px;
padding-right: 447px;


color: #F5F5F5;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;

}




.sub-text-normal{


padding-top: 6px;
padding-left: 456px;
padding-right: 456px;


color: rgba(255, 255, 255, 0.30);
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

}